main{
    background: #343a40 !important;
    height: 170px;
}
main .containerb{
  height: 130px;
  border-bottom: 1px solid gray;
}
body {
	font-size: 20px;
	background-color: #343a40;
	color: rgb(134, 132, 132);
	font-family: "Lato", sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.customer {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 10px;
}

.customers p {
	font-weight: 300;
	font-style: italic;
	line-height: 185%;
}
.feature {
    text-align: center;
    margin: auto;
}

h5, h4, h2 {
    text-transform: uppercase;
    text-align: center;
}
h6{
  text-transform: uppercase;
  padding: 5px;
}
.city img {
    width: 100%;
    height: 170px;
}
.prod img {
    width: 100%;
    height: 170px;
}

#festive{
    
    height: auto;
    height: 113px;
}
.table{
    border-bottom: 1px rgb(255 255 255 / 20%) solid !important;
}
.product-thumbnail{
    width: 15%;
}
.site-blocks-table .btn {
    background: none !important;
    color: white;
    border: none;
    height: auto !important;
}
.site-blocks-table td {
    vertical-align: middle;
}
.coupon{
    padding: 12 px;
}
.asterick::after {
	content: "*";
	color: rgb(230, 126, 34);
	font-size: 18px;
}

.svg{
    filter: brightness(0.5);
}

.product-item {
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
}

.product-item h3, .product-section .product-item strong {
    color: white;
    text-decoration: none;
}
.product-section a{
    transition: .3s all ease;
    color: #2f2f2f;
}
.product-section a:hover{
    transition: .3s all ease;
    text-decoration: none !important;
    transform: translateY(-10px);
}
.icon-cross{
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #2f2f2f;
    bottom: 15px !important;
    left: 50% !important;
    transform: translateX(-50%);
    margin-bottom: -17.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.product-section .product-item:hover .icon-cross {
      bottom: 0;
      opacity: 1;
      visibility: visible; 
    }

 /* Product Color */
 .product{
    margin-bottom: 125px !important;
 }
 .product-color {
    margin-bottom: 30px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
 
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
 margin: 25px 0px;
    letter-spacing: -2px;
}
  .color-choose div {
    display: inline-block;
  }
   
  .color-choose input[type="radio"] {
    display: none;
  }
   
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
   
  .color-choose input[type="radio"]#teal + label span {
    background-color: #234b59;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
   
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(./resources/css/img/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .product-color {
    margin-bottom: 30px;
  }
   
  .color-choose div {
    display: inline-block;
  }
   
  .color-choose input[type="radio"] {
    display: none;
  }
   
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
   
 
   
  .left-column img {
    opacity: 0;
    display: none;
    transition: all 0.3s ease;
    max-width: 55%;
  }
   
  .left-column img.current {
    display: inline;
    opacity: 1;
    
  }
  .footericon {
    font-size: 140%;
    margin-left: 20px;
    margin-top: 40px;
    color: rgb(134, 132, 132);
  }
  .footericon:hover {
    text-decoration: none;
    transform: scale(1.04);
  }
  footer a:hover {
    text-decoration: none;
    transform: scale(1.02);
  }
  footer {
    background-color: rgb(39, 39, 39);
    padding-bottom: 0%;
    height: 38vh;
  }
  .copyright {
    font-size: 60%;
    text-align: center;
  }  
  .gold{
    color: #ffc008;
  }

  .product-ratings{
    font-size: 18px;
  }

  .product-ratings a:hover{
    text-decoration: none;
    color: white;
  }
  .recent-orders .container{
    border-top: 1px solid gray;
  }
  .box{
    width: -webkit-fill-available;
  }
  .box:hover a:hover{
    /* transition: .3s all ease; */
    text-decoration: none !important;
    /* transform: translateY(-10px); */
    
  }
  .box-upper{
    border: 1px #D5D9D9 solid;
    background-color: #F0F2F2!important;
    border-radius: 8px 8px 0 0;
  }
  .box-lower{
    border: 1px #D5D9D9 solid;
    background-color: #fff!important;
    border-radius: 0 0 8px 8px;
  }
  .order-thumbnail{
    width: 100%;
  }